@keyframes switch-moving {
  from {
    left: -15px;
  }
  to {
    left: -20px;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}

.like-icon {
  transform-origin: center;
  cursor: pointer;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  fill: var(--animation-heart-fill-color, #ff0000);
  animation: opacity 0.3s 0.3s ease-in alternate;
}

.contour {
  fill: var(--animation-contour-color, #000000);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-heart-fill-color, #ff0000);
  transition: fill 0.3s 0.06s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .core {
  fill: var(--animation-contour-color, #000000);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--animation-heart-fill-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-heart-fill-color, #ff0000);
  transition: fill 0.3s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--animation-contour-color, #000000);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-heart-fill-color, #ff0000);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-heart-fill-color, #ff0000);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked {
  animation: scale 0.3s 0.1s ease-in alternate;
}
