/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font-family: "Inter-Variable", sans-serif;
  --max-inline-page: 700px;
  --font-accent: "PressStart2P", fantasy;
  --page-bg-color: #ffffff;
  --page-bg-gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      #e7e7e7,
      #1a1a1a 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a);
  --accent-color: #000000;
  --font-size-main: 18px;
  --main-decoration-text: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  --main-header-title: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  --text-font-weight: 400;
  --btn-text-color: #fff;
  --save-icon: #fff;
  --label-stroke-color: #fff;
  --animation-heart-fill-color: #ff0000;
  --animation-contour-color: #000000;
}
